<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문법 페이지 6</title>
</head>
<body>
<!--th:with로 지역변수를 만들 수 있다.-->
    <div th:with="name='구구단'">
        <h2 th:text="${name}"> 제목 </h2> <!-- 구구단 -->
        <h3> [[${target}]]단 </h3> <!--target-->
        <div>
<!--            타임리프에서 만들어주는 블록, html 태그 안에서 사용하기 애매한 경우에 이걸 넣어주면 알아서 바꿔준다.-->
            <th:block th:each="idx : ${#numbers.sequence(1,9)}">
                <p>[[${target}]] x [[${idx}]] = [[${target} * ${idx}]]</p>
            </th:block>


        </div>
    </div>
</body>
</html>